* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Sans MS';
}

a {
    text-decoration: none;
}

body {
    background: linear-gradient(to bottom, #58b6f3 0%, black 50%, #58b6f3 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-decoration: none;
    font-family: 'Comic Sans MS';
}

.container, .boost-list {
    width: 90%;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border: 1px solid #58b6f3;
    box-shadow: 0 4px 10px #00000033;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    color: white;
}

.container b {
    color: white;
    -webkit-text-stroke: 1px #58b6f3;
}

.base-point {
    color: white;
    font-size: 20px;
    margin-bottom: 80px;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    margin-top: 25px;
}

.boost-text {
    display: flex;
    flex-direction: column;
}

.boost-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin-top: 10px;
    border: 1px solid #58b6f3;
    border-radius: 20px;
}

.boost-speed, .boost-price {
    margin: 7px 0;
    font-size: 16px;
    color: #58b6f3;
    -webkit-text-stroke: 1px black;
    font-weight: bolder;
}

.boost-speed {
    align-self: center;
}

.boost-btn-buy {
    padding: 5px 15px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    color: white;
    cursor: pointer;
    background-color: rgb(88, 182, 243);
    font-weight: bold;
    font-size: 18px;
    margin-left: 30px;
    -webkit-text-stroke: 1px black;
}

.boost-btn-bought {
    font-weight: bold;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgba(88, 182, 243, 0.2);
}

.footer {
    width: 100%;
    max-width: 600px;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    bottom: 0;
    text-align: center;
}

.navbar {
    width: 100%;
    max-width: 600px;
    background-color: black;
    padding: 15px 10px;
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
}

.nav-item i {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    color: white;
}

.nav-item:hover {
    color: #4a9eff;
}